<div class="content">
	<div class="col-md-12">
		<div class="upload-head">
			<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg> {{LANG liked_videos}}</h4>
			<hr>
		</div>
      	<div class="videos-latest-list row">
      		{{LIKED_LIST}}
      	</div>
      	<?php if (count($pt->videos) > 0) { ?>
            <div class="watch-video-show-more desc load-more" data-type="liked_videos">
                {{LANG show_more}}
            </div>
      	<?php } ?>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>