<tr data-ads-list="{{ID}}">
	<td width="7%">
		<span class="results">
			<strong>{{ID}}</strong>
		</span>
	</td>
	<td width="15%">
		<a href="{{PAID_URL}}" data-load="?link1=timeline&id={{USER_NAME}}"><span class="results">{{PAID_USER}}</span></a>
	</td>
	<td width="25%"><a href="{{VIDEO_URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}"><span class="results">{{VIDEO_NAME}}</span></a></td>
	<td width="12%">
		<span class="results">
			<strong>{{CURRENCY}}{{AMOUNT}} </strong>
		</span>
	</td>
	<td width="15%">
		<span class="spends">{{A_CURRENCY}} </span>
	</td>
	<td width="15%">
		<span class="spends">{{CURRENCY}}{{NET}} </span>
	</td>
	<td width="15%">
		<span class="spends">{{type}} </span>
	</td>
	<td width="15%">
		<span class="spends">{{TIME}}</span>
	</td>
</tr>