<div>
	<h4>Cookies are required</h4>
	<p>Your browser do not support cookies.Please enable cookies to continue!</p>
	<ol>
		<li>
			<a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en">
				How to enable cookies in Google chrome
			</a>
		</li>
		<li>
			<a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">
				How to enable cookies in Fire fox
			</a>
		</li>
		<li>
			<a href="http://www.opera.com/help/tutorials/security/cookies/">
				How to enable cookies in Opera
			</a>
		</li>
	</ol>
</div>

<style>
	div{
		width: 100%;
		overflow: hidden;
		margin-top: 50px;
		text-align: center;
	}

	p{
		font-size: 17px;
		color: #333;
		margin-top: 10px;
		font-family: 'Arial',sans-serif;
	}

	h4{
		font-size: 30px;
		color: #333;
		font-family: 'Arial',sans-serif;
		margin: 0px;
	}

	ol{
		width: auto;
		display: inline-block;
		text-align: center;
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
</style>