<li class="notifications-list">
	<a href="{{URL}}" class="fluid" style="display: block;">
		
		<div class="notif_custom_Flex_aaa">
			<div class="avatar">
				<?php if ($pt->notify['type'] == 'bank_wallet' || $pt->notify['type'] == 'bank_pro' || $pt->notify['type'] == 'bank_decline' || $pt->notify['type'] == 'monetization_accept' || $pt->notify['type'] == 'monetization_decline' || $pt->notify['type'] == 'admin_notification' || $pt->notify['type'] == 'coinpayments_canceled' || $pt->notify['type'] == 'coinpayments_approved' || $pt->notify['type'] == 'pro_renew' || $pt->notify['type'] == 'pro_ended') { ?>
					<img src="{{CONFIG theme_url}}/img/icon.png" alt="Avatar" class="">
				<?php }else{ ?>
					<img src="{{USER avatar}}" alt="Avatar" class="">
				<?php } ?>
			</div>
			<div class="notifications-info">
				
				<p>
					<?php if ($pt->notify['type'] == 'bank_wallet' || $pt->notify['type'] == 'bank_pro' || $pt->notify['type'] == 'bank_decline' || $pt->notify['type'] == 'monetization_accept' || $pt->notify['type'] == 'monetization_decline' || $pt->notify['type'] == 'admin_notification' || $pt->notify['type'] == 'coinpayments_canceled' || $pt->notify['type'] == 'coinpayments_approved' || $pt->notify['type'] == 'pro_renew' || $pt->notify['type'] == 'pro_ended') { ?>
					<span >{{CONFIG title}}</span>
				<?php }else{ ?>
					<span >{{USER name}}</span>
				<?php } ?>
					<span>{{TITLE}}</span>
					<span>{{TEXT}}</span>
				</p>
				<time>
					{{TIME}}
				</time>
			</div>
		</div>
	</a>
</li>