<div class="sidebar-ad-container">
	<a href="{{URL}}" target="_blank">
		<div class="sidebar-ad-inner" style="">
			<img src="{{IMG}}" alt="{{TITLE}}">
			<div class="info">
				<h5>{{TITLE}}</h5>
				<p>{{DESC}}</p>
				<div>
					<span class="pull-left">
						<img src="{{CONFIG site_url}}/themes/{{CONFIG theme}}/img/promote.png" width="15px" height="15px">
						<span>By {{NAME}} </span>
					</span> 
					<span class="pull-right">{{URL_NAME}} <i class="fa fa-external-link"></i></span>
				</div>
			</div>
		</div>
	</a>
</div>