.notify {
   .alert {
      border: none;
      box-shadow: 0 2px 10px 0 rgba(24,28,33,.04);
      .alert-heading {
         font-size: 16px;
         font-weight: 600;
      }
   }
   &.open {
      transform: translate(0);
   }
}