.progress {
   .progress-bar {
      &.progress-bar-striped {
         background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
         background-size: 1rem 1rem !important;
      }
      &:not(.progress-bar-striped) {
         background: $color-primary;
      }
   }
}