.slick-next {
  right: 5px;
}

.slick-prev {
  left: 5px;
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

.slick-slide-item > * {
  padding: 10px;
}

.slick-center {
  transition: transform .3s;
  transform: scale(1.20);
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}