<div class="last_hr">
	<div class="content pt_shadow yp_trans">
		<div class="home-page-categories">
			<div class="title">
				<h4>
					<div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg></div> {{CATEGORY_ONE_NAME}} 
					<span class="view_more_link">
						<a href="<?php echo (!empty($pt->subscriptions)) ? "{{LINK subscriptions}}" : "{{LINK videos/category/{{CATEGORY_ONE_ID}}}}" ?>"
						 data-load="<?php echo (!empty($pt->subscriptions)) ? '?link1=subscriptions' : '?link1=videos&page=category&id={{CATEGORY_ONE_ID}}' ?>">{{LANG explore_more}} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></a>
					</span>
				</h4>
			</div>
			<div class="videos">
				<div class="row cus_slider">
					<?php 
						foreach ($pt->cat_videos as $key => $video) {
							$video = PT_GetVideoByID($video, 0, 0, 0);
							echo PT_LoadPage('home/list', array(
								'ID' => $video->id,
								'TITLE' => $video->title,
								'VIEWS' => number_format($video->views),
								'VIEWS_NUM' => number_format($video->views),
								'USER_DATA' => $video->owner,
								'THUMBNAIL' => $video->thumbnail,
								'URL' => $video->url,
								'ajax_url' => $video->ajax_url,
								'TIME' => $video->time_ago,
								'DURATION' => $video->duration,
                                'VIDEO_ID_' => PT_Slug($video->title, $video->video_id),
						        'GIF' => $video->gif
							));
						}
					?>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<hr class="dark_hr">
</div>