<div class="col-md-6 video-wrapper article-wrapper pt_article_list" data-id="{{ID}}" id="article-{{ID}}">
	<div class="pt_article_h_list">
    	<div class="video-thumb">
            <a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}"><img width="200" height="170" src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
        </div>
        <div class="video-info">
            <div class="article-title">
                <h4><a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}">{{TITLE}}</a> </h4>
            </div>
            <div class="article-desc">
                <p>{{DESC}}</p>
            </div>
			<div class="postFooter">
				<div class="u-floatRight">
					<div class="article-views">{{TIME}}</div>
				</div>
				<div class="u-floatLeft">
					<a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}" class="btn btn-sm btn-mat btn-default">
						{{LANG read_more}} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</a>
				</div>
			</div>
        </div>
    </div>
    <div class="clear"></div>
</div>

