<div class="related-video-wrapper">
	<div class="ra-thumb">
		<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
			<img src="{{IMAGE}}" alt="⁣{{TITLE}}">
			<div class="video-duration">{{DURATION}}</div>
		</a>
	</div>
	<div class="ra-title">
		<div class="video-title"><a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}"> ⁣{{TITLE}}</a></div>
		<div class="video-publisher">{{USER_NAME}}</div>
		<div class="video-publisher">{{VIEWS}} {{LANG views}} <span class="middot">·</span> {{TIME}}</div>
		<div class="video-category"><a href="{{CATEGORY_URL}}" data-load="?link1=videos&page=category&id={{CATEGORY_ID}}">{{CATEGORY_NAME}}</a></div>
	</div>
</div>