<form class="form-horizontal user-setting-panel pt_forms pt_shadow" id="general-settings" method="POST">
	<div class="pt_points_main">
		<div class="row">
			<div class="col-lg-9">
				<div class="row ep_illus">
					<div class="col-md-6">
						<div class="ep_how_many comment_post">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#2196f3" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9Z"></path></svg>
							<b><?php echo str_replace('{point}', $pt->config->comments_point, $lang_array['comment_video']); ?></b>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ep_how_many create_post">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#F9B035" d="M14,13V17H10V13H7L12,8L17,13M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z"></path></svg>
							<b><?php echo str_replace('{point}', $pt->config->upload_point, $lang_array['upload_video_point']); ?></b>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ep_how_many reaction_bg">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#FFD66C" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z"></path></svg>
							<b><?php echo str_replace('{point}', $pt->config->likes_point, $lang_array['like_video_point']); ?></b>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ep_how_many create_blog">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#7B61FF" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"></path></svg>
							<b><?php echo str_replace('{point}', $pt->config->watching_point, $lang_array['watch_video_point']); ?></b>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ep_how_many dislike_video">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#F96767" d="M19,15H23V3H19M15,3H6C5.17,3 4.46,3.5 4.16,4.22L1.14,11.27C1.05,11.5 1,11.74 1,12V14A2,2 0 0,0 3,16H9.31L8.36,20.57C8.34,20.67 8.33,20.77 8.33,20.88C8.33,21.3 8.5,21.67 8.77,21.94L9.83,23L16.41,16.41C16.78,16.05 17,15.55 17,15V5C17,3.89 16.1,3 15,3Z"></path></svg>
							<b><?php echo str_replace('{point}', $pt->config->dislikes_point, $lang_array['dislike_video_point']); ?></b>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="counter">
					<p class="point-text">{{LANG points}}</p>
					<h2 class="">{{ME points}}</h2>
					<p class="count-text">{{LANG points}} {{LANG balance_}}</p>
				</div>
			</div>
		</div>
    </div>

    <div class="setting-general-alert"></div>
</form>