<div class="col-md-4 col-sm-12">
	<div class="dev_apps_list">
		<div class="avatar">
			<a href="{{app_link}}" data-load="?link1=app&id={{id}}"><img src="{{app_avatar}}" alt=""></a>
		</div>
		<div class="info">
			<div class="ap_name"><a href="{{app_link}}" data-load="?link1=app&id={{id}}">{{app_name}}</a></div>
			<p>{{LANG app_id}}: {{app_id}}</p>
			<a href="{{app_link}}" data-load="?link1=app&id={{id}}" class="btn btn-success btn-block btn-mat">{{LANG edit}}</a>
		</div>
	</div>
</div>