<div class="content pt_shadow">
	<div class="col-md-12">
		<div class="upload-head">
			<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg> {{LANG manage_my_videos}}</h4>
			<hr>
		</div>
		<div class="subscriptions-list">
			<div class="author-list">
				{{VIDEOS}}
			</div>
			<?php if (count($pt->videos) > 0) { ?>
				<div class="watch-video-show-more desc load-more" data-type="my_videos">
					{{LANG show_more}}
				</div>
			<?php } ?>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>