<div class="video-wrapper" data-id="{{ID}}" id="video-{{ID}}">
	<div class="video-actions">
		<a href="{{LINK edit-video/{{ID}}}}" data-load="?link1=edit-video&id=category&id={{ID}}"><i title="{{LANG edit_video}}" class="fa fa-pencil fa-fw"></i></a> 
		<i onclick="PT_DeleteVideo({{ID}}, 'manage-page')" title="{{LANG delete_videos}}" class="fa fa-trash fa-fw"></i>
	</div>
    <div class="row">
    	<div class="video-thumb col-md-3">
        <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
    </div>
    <div class="video-info col-md-5 no-padding-left">
        <div class="video-title">
            <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a> 
        </div>
        <div class="video-views">
            {{VIEWS}} {{LANG views}} . {{TIME}}
        </div>
        <div class="video-desc">
            {{DESC}}
        </div>
    </div>
    </div>
    <div class="clear"></div>
    <?php if ($pt->last_video != true) { ?>
    <hr>
    <?php } ?>
</div>