<div class="col-md-4">
	<div class="video-wrapper" data-id="{{ID}}" id="video-{{ID}}">
		<a class="pt_mv_list_thumb" href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
			<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
			<div>
				<div class="stars">
					<svg height="14" width="14" class="star rating" viewBox="0 0 24 24"><path d="M6.516,14.323l-1.49,6.452c-0.092,0.399,0.068,0.814,0.406,1.047C5.603,21.94,5.801,22,6,22 c0.193,0,0.387-0.056,0.555-0.168L12,18.202l5.445,3.63c0.348,0.232,0.805,0.223,1.145-0.024c0.338-0.247,0.487-0.68,0.372-1.082 l-1.829-6.4l4.536-4.082c0.297-0.268,0.406-0.686,0.278-1.064c-0.129-0.378-0.47-0.644-0.868-0.676L15.378,8.05l-2.467-5.461 C12.75,2.23,12.393,2,12,2s-0.75,0.23-0.911,0.589L8.622,8.05L2.921,8.503C2.529,8.534,2.192,8.791,2.06,9.16 c-0.134,0.369-0.038,0.782,0.242,1.056L6.516,14.323z"/></svg> {{RATING}}
					&nbsp;&nbsp;<span class="bold">·</span>&nbsp;&nbsp;<span class="mv_qualt">{{QUALITY}}</span>
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
			</div>
		</a>
		<div class="mv_img_shdw"><div class="mv_pr_blck"></div></div>
		<div class="pt_mv_info">
			<div class="pt_mv_info_innr">
				<h3><a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a></h3>
				<div>
					 <span>{{YEAR}}</span>&nbsp;<span class="bold">·</span>&nbsp;<span>{{CAT}}</span>
				</div>
			</div>
		</div>
        <!--<div class="video-views vid_stud_stats">
			<p>{{DESC}}</p>
            <span>{{LANG stars}} : &nbsp;{{STARS}}</span>
            <br>
            <span>{{LANG producer}} : &nbsp;{{PRODUCER}}</span>
        </div>-->
		<div class="clear"></div>
	</div>
</div>