<div class="form-horizontal user-setting-panel pt_forms pt_shadow">
    <div class="yp_sett_header">
        <h4>{{LANG manage_sessions}}</h4>
    </div>
    <div class="row">
        {{SESSIONS}}
    </div>
</div>
<script>
    function logOutSession(id) {
        if (!confirm('Are you sure you want to log out from this device?')) {
            return false;
        }
        $('#session_' + id).remove();
        $.post('{{LINK aj/user/remove_session}}?hash=' + $('.main_session').val(), {id: id,user_id:<?php echo $pt->settings->id; ?>}, function (data) {
            if (data.reload == true) {
                location.reload();
            }
        });
    }
</script>