<div class="video-wrapper popular-articles-wrapper">
	<div class="video-thumb pull-left">
		<a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}" width="100%"></a>
		<div class="clear"></div>
	</div>
	<div class="video-info">
		<div class="popular-article-title">
			<a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}">{{TITLE}}</a>
		</div>
		<div class="name_artcile">
			{{NAME}}
		</div>
		<div class="name_artcile_views">
			{{VIEWS}} {{LANG views}} . {{TIME}}
		</div>
	</div>
</div>

