<div class="related-video-wrapper">
	<div class="ra-thumb">	
		<img src="{{IMAGE}}">
		<div class="ra-overlay">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
				<i class="material-icons">play_circle_filled</i>
			</a>
		</div>
	</div>
	<div class="ra-title">
		<h5><a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a></h5>
		<div class="article_pub_user">
			<div>
				<h6><a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name}}</a></h6>
				<time>{{VIEWS}} {{LANG views}}</time>
			</div>
		</div>
	</div>
</div>