<div class="col-md-3">
	<style>#video-{{ID}} .mv_img_shdw:before {
    background-image: url({{THUMBNAIL}});
    
}</style>
	<div class="video-wrapper" data-id="{{ID}}" id="video-{{ID}}">
		<a class="pt_mv_list_thumb" href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
			<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
			<span>
				<!-- <p>{{CAT}}</p>
				<svg class="feather feather-play" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg> -->
			</span>

			<div class="abs_movie_text">
				<div class="abs_movie_title">
					{{TITLE}}
				</div>

				<div class="flex_movie_starsss">
					<div class="yeassr">
						{{YEAR}} · {{COUNTRY}}
					</div>
					<div class="star_moview">
						<i class="fa fa-star"></i> 8 · {{QUALITY}}
					</div>
				</div>
			</div>
		</a>
	
	</div>
</div>