<div class="wo_about_wrapper_parent">
	<div class="wo_about_wrapper">
		<div class="hero hero-overlay" style="background-color: #82b652;"></div>
	</div>
</div>
<div class="pt_page_margin row sett_row_rev">
	<div class="mat_header">
		<h1><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="color: #82b652;"><path fill="currentColor" d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" /></svg> {{LANG faqs}}</h1>
	</div>
	<div class="col-md-2"></div>
	<div class="user-setting-panel page-margin termsofuse pt_shadow col-md-8" style="margin-bottom: 30px;">
		<section id="accordion" class="tube_faq">
			<?php
				$faqs = $db->orderBy('id', 'DESC')->get(T_FAQS);

				foreach ($faqs as $faq) {
				$faq->time   = PT_Time_Elapsed_String($faq->time);
			?>
				<div class="accordion">
					<div id="faqs-<?php echo $faq->id;?>" class="accordion-item">
						<div class="btn btn-default">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
						</div>
						<div class="card">
							<h4>
								<?php echo $faq->question;?>
							</h4>
							<div class="accordion-panel" id="faq-<?php echo $faq->id;?>">
								<p><?php echo $faq->answer;?></p>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
		</section>
	</div>
	<div class="col-md-2"></div>
</div>

<script>
$(function() {
	$(".accordion-item").click(function() {
		// Toggle the item
		$(this).toggleClass("is-active").find(".accordion-panel").slideToggle("ease-out");
	});
});
</script>