<div class="col-md-3 video-wrapper article-wrapper pt_article_list" data-id="{{ID}}" id="article-{{ID}}">
	<div class="pt_article_h_list">
		<a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}">
    	<div class="video-thumb">
            <img width="200" height="170" src="{{THUMBNAIL}}" alt="{{TITLE}}">
        </div>
        <div class="video-info">
            <div class="article-title c_home_articles_eclipse">
                <h4>{{TITLE}} </h4>
            </div>
            <div class="article-desc">
                <p>{{DESC}}</p>
            </div>
			<div class="postFooterssss">
				<div class="u-floatRight">
					<div class="article-views">{{TIME}}</div>
				</div>
				<div class="u-floatLeft arrow_read">
						<img src="{{CONFIG theme_url}}/img/arrow.png">

					<?php /* ?>
					<a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}" class="btn btn-sm btn-mat btn-default">
						{{LANG read_more}} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</a>
					<?php */ ?>
				</div>
			</div>
        </div>
        <?php /* ?>
        <div class="video-info">
            <div class="article-title">
                <h4><a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}">{{TITLE}}</a> </h4>
            </div>
            <div class="article-desc">
                <p>{{DESC}}</p>
            </div>
			<div class="postFooter">
				<div class="article_pub_user">
					<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">
						<img src="{{USER avatar}}" alt="{{USER name}} avatar" />
					</a>&nbsp;&nbsp;
					<div>
						<h6><a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name}}</a></h6>
						<div class="article-views">{{TIME}}</div>
					</div>
				</div>
				<div class="u-floatLeft">
					<a href="{{URL}}" data-load="?link1=read&id={{ARTICLE_URL}}" class="btn btn-sm btn-mat btn-default">
						{{LANG read_more}} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</a>
				</div>
			</div>
        </div>
        <?php */ ?>
		</a>
    </div>
</div>